;; SELECT using FROM NAMED and variable GRAPH iri
{:prefixes   {:foaf "<http://xmlns.com/foaf/0.1/>"}
 :select     [?src ?bobNick]
 :from-named ["<http://example.org/foaf/aliceFoaf>"
              "<http://example.org/foaf/bobFoaf>"]
 :where      [[:graph ?src [[?x :foaf/mbox "mailto:bob@work.example"]
                            [?x :foaf/name ?bobNick]]]
              [?x :foaf/name ?name]]}
