{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:dev {:extra-paths ["src/dev"]
        :extra-deps  {org.apache.jena/jena-arq {:mvn/version "4.3.2"}}}
  :test {:extra-paths ["src/test" "dev-resources"]
         :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                       cloverage/cloverage    {:mvn/version "1.2.2"}
                       io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.0"
                        :git/sha "b3fd0d2"}}}
  :run-clj {:exec-fn   cognitect.test-runner.api/test
            :exec-args {:dirs ["src/test"]}}
  :run-cov {:exec-fn   cloverage.coverage/run-project
            :exec-args {:src-ns-path  ["src/main"]
                        :test-ns-path ["src/test"]}}}}
