;; SELECT with BIND
{:prefixes {:dc "<http://purl.org/dc/elements/1.1/>"
            :ns "<http://example.org/ns#>"}
 :select  [?title ?price]
 :where   [[?x :ns/price ?p]
           [?x :ns/discount ?discount]
           [:bind [(* ?p (- 1 ?discount)) ?price]]
           [:filter (< ?price 20)]
           [?x :dc/title ?title]]}
