;; SELECT with sub-SELECT query
{:prefixes {:$ "<http://people.example/>"}
 :select   [?y ?minName]
 :where    [[:alice :knows ?y]
            [:where {:select   [?y [(min ?name) ?minName]]
                     :where    [[?y :name ?name]]
                     :group-by [?y]}]]}
