;; SELECT with shared subject in WHERE
{:prefixes {:foaf "<http://xmlns.com/foaf/0.1/>"}
 :select   [[(concat ?G " " ?S) ?name]]
 :where    [{?P {:foaf/givenName #{?G}
                 :foaf/surname #{?S}}}]}
