;; SELECT with null VALUES
{:prefixes {:dc "<http://purl.org/dc/elements/1.1/>"
            :ns "<http://example.org/ns#>"
            :$  "<http://example.org/book/>"}
 :select   [?book ?title ?price]
 :where    [[:values {?book  [nil :book2]
                      ?title ["SPARQL Tutorial" nil]}]
            {?book {:dc/title #{?title}
                    :ns/price #{?price}}}]}
