;; FILTER with isBlank and boolean literal
{:prefixes {:a    "<http://www.w3.org/2000/10/annotation-ns#>"
            :dc   "<http://purl.org/dc/elements/1.1/>"
            :foaf "<http://xmlns.com/foaf/0.1/>"}
 :select [?given ?family]
 :where [[?annot :a/annotates "<http://www.w3.org/TR/rdf-sparql-query/>"]
         [?annot :dc/creator ?c]
         [:optional [{?c {:foaf/given  #{?given}
                          :foaf/family #{?family}}}]]
         [:filter (= (blank? ?c) true)]]}
