;; SELECT with FILTER NOT EXISTS
{:prefixes {:rdf  "<http://www.w3.org/1999/02/22-rdf-syntax-ns#>"
            :foaf "<http://xmlns.com/foaf/0.1/>"}
 :select   [?person]
 :where    [[?person :rdf/type :foaf/Person]
            [:filter (not-exists [[?person :foaf/name ?name]])]]}
