;; Nested SERVICE call
{:prefixes {:foaf "<http://xmlns.com/foaf/0.1/>"}
 :select   [?person ?interest ?known]
 :where    [[:service "<http://people.example.org/sparql>"
             [[?person :foaf/name ?name]
              [:optional [[?person :foaf/interest ?interest]
                          [:service
                           "<http://people2.example.org/sparql>"
                           [[?person :foaf/knows ?known]]]]]]]]}
